* {
  margin: 0;
  padding: 0;
  font-family: "Noto Serif", serif, sans-serif;
}

header {
  background-color: #00c2d1;
  color: #000000;
  display: grid;
  grid-template-columns: 100px 1fr;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
}

body {
  background-color: aquamarine;
  font-size: 16px;
  text-align: justify;
  box-sizing: border-box;
  width: 100%;
  border: solid #5b6dcd 10px;
  padding: 5px;
}

h1 {
  text-align: center;
}

h2 {
  background-color: #eee;
  padding: 0.75rem;
  border-radius: 3em;
  shape-outside: circle();
}

p {
  padding-bottom: 0.75em;
}

picture {
  max-width: 100%;
}

footer {
  background-color: #5d5b5d;
  color: #ffffff;
  display: grid;
  grid-template-columns: 1fr 130px;
  align-items: center;
  padding: 0.75rem;
}

em {
  font-size: large;
  font-weight: bolder;
  margin: 1em;
}

/* Class Selectors  ***********/
.page {
  max-width: 960px;
  margin: 0 auto;
}

.topnavigation {
  background-color: #fdb321;
  color: #000000;
  list-style: none;
  display: flex;
  text-align: center;
  padding: 1em;
  margin: 1em;
  border-radius: 3em;
  shape-outside: circle();
}

.topnavigation li {
  flex: 1 1 100%;
}

.topnavigation a {
  color: #1372a4;
  text-decoration: none;
  display: block;
  padding: 0.75rem;
}

.topnavigation a:hover {
  text-decoration-line: underline;
  font-weight: bold;
  background-color: #eee;
}

.banner {
  position: relative;
  width: 100%;
  margin-bottom: 10px;
}

.btnCallToAction {
  position: absolute;
  top: 30px;
  left: 30px;
  background: radial-gradient(#eee, #fdb321);
  text-align: center;
  opacity: 0.9;
  padding: 1em;
  border-radius: 1em;
  shape-outside: circle();
}

.btnCallToAction a {
  color: aquamarine;
  background-color: #1372a4;
  text-decoration-line: none;
  margin: 0.75em;
  padding: 0.75em;
  border-radius: 3em;
  shape-outside: circle();
}

.btnCallToAction a:hover {
  text-decoration-line: underline;
  font-weight: bold;
  background-color: #eee;
  color: #1372a4;
}

.mainContent {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 10px;
  row-gap: 10px;
  max-width: 100%;
}

.content1 {
  grid-column: 1/2;
  justify-content: center;
}

.mainpic-right {
  box-shadow: 0 0 2rem #777;
  grid-column: 2/3;
  max-width: 100%;
}

.content2 {
  grid-column: 2/3;
  grid-row: 2/3;
  padding: 0.75rem;
}

.mainpic-left {
  box-shadow: 0 0 2rem #777;
  grid-column: 1/2;
  grid-row: 2/3;
  max-width: 100%;
}

.content3 {
  grid-column: 1/3;
  grid-row: 3/4;
  padding: 0.75rem;
}

.raftingTrips {
  margin: 1 em;
  position: relative;
}

.imgCalendar {
  border-radius: 1em;
  box-shadow: 5px 5px;
  margin: 0.5em;
}

.trip1,
.trip2,
.trip3 {
  position: absolute;
  background: radial-gradient(#eee, #fdb321);
  text-align: center;
  opacity: 0.9;
  padding: 1em;
  border-radius: 1em;
  shape-outside: circle();
  transition: width 2s 1s;
}

.trip1 {
  top: 70px;
  left: 200px;
}

.trip2 {
  top: 160px;
  left: 315px;
}

.trip3 {
  top: 70px;
  left: 815px;
  width: 80px;
  height: 200px;
}

.trip1:hover,
.trip2:hover,
.trip3:hover {
  font-weight: bolder;
  font-style: italic;
}

.classroom {
  margin: 1 em;
  position: relative;
}

.edu1,
.edu2,
.edu3 {
  position: absolute;
  width: 80px;
  background: radial-gradient(#eee, #fdb321);
  text-align: center;
  opacity: 0.9;
  padding: 1em;
  border-radius: 1em;
  shape-outside: circle();
  transition: width 2s 1s;
}

.edu1:hover,
.edu2:hover {
  font-weight: bolder;
  font-style: italic;
}

.edu1 {
  top: 70px;
  left: 175px;
}

.edu2 {
  top: 200px;
  left: 175px;
}

.edu3 {
  top: 70px;
  left: 560px;
}

.activitiesContent {
  margin: 3em;
}

.coloring {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 20px;
  row-gap: 10px;
  max-width: 100%;
  margin: 1em;
}

.mazes {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 20px;
  row-gap: 10px;
  max-width: 100%;
  margin: 1em;
}

.moreFun {
  display: grid;
  grid-template-columns: 175px 1fr 1fr 1fr;
  column-gap: 20px;
  row-gap: 10px;
  max-width: 100%;
  margin: 1em;
}
