* {
  margin: 0;
  padding: 0;
  font-family: "Noto Serif", serif, sans-serif;
}

header {
  background-color: #00c2d1;
  color: #000000;
  display: grid;
  grid-template-columns: 80px 1fr 155px;
  align-items: center;
}

body {
  background-color: aquamarine;
  font-size: 16px;
  text-align: justify;
}

h1 {
  text-align: center;
}

picture {
  margin: 1rem 1rem 1rem 1rem;
  text-align: justify;
}

footer {
  background-color: #5d5b5d;
  color: #ffffff;
  display: grid;
  grid-template-columns: 1fr 95px;
  align-items: center;
}

a {
  color: #1372a4;
}

/* Class Selectors  ***********/
.page {
  max-width: 960px;
  margin: 0 auto;
}

.topnavigation {
  background-color: #fdb321;
  color: #000000;
}

.mainpic {
  margin: 1rem 1rem 1rem 1rem;
  box-shadow: 0 0 2rem #777;
}
